 .avm-messenger .nav-bar h2 {color: transparent;}
  @font-face {
    font-family: HandbookPro;
    src: url(https://c3india.s3.ap-south-1.amazonaws.com/public_assets/data/000/000/388/original/PFHandbookPro_Regular_ttf?1540542520);
    src: url(https://c3india.s3.ap-south-1.amazonaws.com/public_assets/data/000/000/431/original/PFHandbookPro_Regular35440_woff?1547723252)
    format("woff");
  }


  body.avm-messenger{
   font-family: "HandbookPro"; 
   font-size: 15px;
   color:black;
  }
