#live-agent-end {
  position: absolute !important;
  right: 50px !important;
  top: 20px !important;
  cursor: pointer !important;
  padding: 5px !important;
  border-radius: 30px !important;
  / background-color: #f7bc00 !important; /
  / color: #163758 !important; /
  font-size: 12px !important;
  border-color: transparent !important;
  background-size: 36px;
  height: 35px;
  width: 35px;
  background-repeat: no-repeat;
  background-image: url(https://franklintempletonuploads.s3-us-west-1.amazonaws.com/end_chat_2.png);
  background-position-x: center !important;
  background-position-y: center !important;
}
